/* Login.css */

.login-container {
    width: 300px;
    /* height: 300px; */
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ababab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    flex-direction: column;*/
} 

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 100%; */
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: rgb(165, 4, 4);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
